# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

bin/data/user/discord.json
bin/data/user/twitch.json
**/.vs
*.pdb
**/temp
!Premake/premake5.exe

bin/dpp.dll
bin/libcrypto-1_1-x64.dll
bin/libsodium.dll
bin/libssl-1_1-x64.dll
bin/opus.dll
bin/zlib1.dll